manifest
{
    name            = "pipeline-cophasing"
    author          = "Adam Streck"
    homePage        = "https://github.com/ICCB-Cologne/pipeline-cophasing"
    description     = "Co-phasing pipeline"
    mainScript      = "pipeline-cophasing.nf"
    nextflowVersion = ">=22.10.0"
    version         = "1.0.0"
}
